._*
.DS_Store
*.orig
Thumbs.db
*.log
*.pid
*/tmp/
*/public/cache/
*/doc/api
*/doc/app
*/doc/coverage
*/doc/rspec.html
*/public/javascripts/all.js
*/coverage
*/sqlnet.log
*.sqlite3
*/db/schema.rb
*/data/
*/public/upload/
*/public/shl/
*/vendor/**/.git/
*/images/uploaded_photos
/shared
schema.rb
