.content
  %h2.title
    Reservations
  .inner          
    %p
      =link_to "Exporter en xls", formatted_reservations_path(:format => :xls)
      =link_to "Exporter en csv", formatted_reservations_path(:format => :csv)
    %table.table
      %tr
        %th
          Nom - Prenom
        %th
          Nom du groupe
        %th
          Date d'inscription
        %th
          Adultes
        %th
          Enfants
        %th
          Horaire
        %th.last
          Commentaires
      = render :partial => 'reservation', :collection => @reservations
