%p
  =@bg.step2

%p
  Prénom:
  =h @reservation.firstname

%p
  Nom:
  =h @reservation.lastname

%p
  Email:
  =h @reservation.email

%p
  Téléphone:
  =h @reservation.telephone

%p
  Rue:
  =h @reservation.street

%p
  Numéro:
  =h @reservation.number

%p
  Code postal:
  =h @reservation.postal_code

%p
  Localité:
  =h @reservation.location

%p
  Nombre d'adulte:
  =h @reservation.nb_adult

%p
  Nombre d'enfant:
  =h @reservation.nb_child

%p
  A payer:
  =((@reservation.nb_adult.to_i * 40) + (@reservation.nb_child * 13)).to_s + ' euros'

%p
  Horaire souhaité:
  =h @reservation.schedule.label

%p
  Commentaires:
  =h @reservation.comment



= link_to 'Modifier', edit_reservation_path(@reservation) |
= link_to 'Confirmer', "/reservation/confirm/#{@reservation.id}"
